# Vendor files
vendor/
node_modules/

# IDE configuration
.vscode/

# SonarQube analysis files
.scannerwork/

# Cache files and folders
*.cache
.cache/
.phpdoc/

# Distribution
dist/

# Work folder
.work/
