# Vendor files
vendor/
node_modules/

# Work folder
.work/

# SonarQube analysis files
.scannerwork/

# Cache files and folders
*.cache
.cache/
.phpdoc/
.temp/
dev/

# Distribution
dist/

# Credentials
*.ini
