# Vendor files
vendor/
node_modules/

# IDE configuration and work folder
.vscode/
.work/

# SonarQube analysis files
.scannerwork/

# Cache files and folders
*.cache
.cache/
.phpdoc/

# Distribution
dist/

# Credentials
*.ini
