<phpunit
	colors="false"
	beStrictAboutChangesToGlobalState="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	verbose="true"
	testdox="true"
>
	<testsuites>
		<testsuite name="unit">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	
	<coverage cacheDirectory=".cache" pathCoverage="true">
		<include>
			<directory suffix=".php">src/api</directory>
		</include>
		<report>
			<clover outputFile="coverage/clover.xml" />
		</report>
	</coverage>

	<logging>
		<junit outputFile="logs/phpunit.xml" />
	</logging>

</phpunit>
