@import 'spectre.css';

$base-color: #5755d9;
$error-color: #d24444;
$success-color: #008b00;

body {
  max-height: 100vh;
  max-width: 100vw;
}
header.navbar {
  min-height: 8vh;
  .links {
    flex-wrap: wrap;
  }
}
h1,
h2 {
  text-align: center;
}
.info-display {
  display: none;
  > div {
    max-width: 80%;
    > pre {
      white-space: pre-line;
    }
  }
  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: $error-color;
    z-index: 9;
    color: #fff;
  }
}
.container {
  max-height: 92vh;
}
div.columns {
  margin: 0;
  section.column {
    min-height: 80vh;
    &.main-input {
      border-right: 2px solid $base-color;
      flex-grow: 1;
      flex-shrink: 1;
      min-width: 250px;
      background: url(../images/cat.waiting.gif) bottom no-repeat; //Source: https://media1.giphy.com/media/wKFY1XaNEainm/giphy.gif
      background: url(../images/cat.waiting.webp) bottom no-repeat; //Source: https://media1.giphy.com/media/wKFY1XaNEainm/giphy.gif
      background-size: contain;
    }
    &.data-container {
      position: relative;
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
}
.chart-container {
  position: relative;
  width: 100%;
  canvas {
    // background: url('../images/background.animation-cat-alternate.gif') center
    //   no-repeat; // Source: https://wifflegif.com/gifs/105779-drawing-cat-gif
    // background-size: contain;
    width: 100%;
  }
}
.data-view {
  word-wrap: break-word;
}
div {
  &.btn-group {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    button.btn {
      flex: 0 0 auto;
    }
  }
  &.action-btn {
    display: flex;
    justify-content: space-evenly;
  }
}
button#download-button {
  margin: 0.5rem auto;
  background-color: $success-color;
}
.loading {
  display: none;
  &.active {
    display: block;
  }
}

@media (max-width: 1015px) {
  div.columns section.column.main-input {
    border-right: none;
    border-bottom: 2px solid $base-color;
  }
}
