@import 'spectre.css';

$base-color: #5755d9;

body {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

h1,
h2 {
  text-align: center;
}

#status-info {
  display: none;

  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(87, 85, 217, 0.9);
    z-index: 9;
    color: #fff;

    > div {
      max-width: 80%;

      > pre {
        white-space: pre-line;
      }
    }
  }
}

#add-parts-info {
  display: none;

  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(87, 85, 217, 0.9);
    z-index: 9;
    color: #fff;
  }

  > div {
    max-width: 80%;
  }
}

header.navbar {
  height: 8vh;
}

.container {
  max-height: 92vh;
}

.column {
  padding: 0.5rem;
}

.main-input {
  border-right: 2px solid $base-color;
  border-radius: 0.1rem;
  padding: 0.5rem;
  height: 90vh;
  overflow-y: auto;
}

section.data-container {
  height: 92vh;
  overflow-y: scroll;
  position: relative;
}

.chart-container {
  position: relative;
  height: 50vh;
  width: 100%;
}

.data-view {
  word-wrap: break-word;
  margin-top: 3rem;
}

div {
  &.btn-group {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    button.btn {
      flex: 0 0 auto;
    }
  }

  &.action-btn {
    display: flex;
    justify-content: space-evenly;
  }
}

button#download-button {
  margin: 0.5rem auto;
}
