h1,
h2 {
  text-align: center;
}
body > div.container {
  max-width: 1200px;
}
.main-input {
  border: 2px dashed #5755d9;
  border-radius: 0.1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
.data-view {
  overflow-y: scroll;
  overflow-x: auto;
  border-radius: 0.1rem;
  word-wrap: break-word;
}
div#partlist {
  height: 60vh;
}
div#data-result {
  height: 54vh;
}
div.btn-group {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
div.btn-group button.btn {
  flex: 0 0 auto;
}
div.action-btn {
  display: flex;
  justify-content: space-evenly;
}
button#download-button {
  margin: 0.5rem auto;
}
/* Debug styles */
#debug {
  background-color: black;
  opacity: 0.85;
  z-index: 9;
  color: white;
  font-size: small;
}
pre {
  font-size: 0.75em;
}
