@import 'spectre.css';

body {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}
h1,
h2 {
  text-align: center;
}
header.navbar {
  height: 8vh;
}
.container {
  max-height: 92vh;
}
.column {
  padding: 0.5rem;
}
.main-input {
  border-right: 2px solid #5755d9;
  border-radius: 0.1rem;
  padding: 0.5rem;
  height: 90vh;
  overflow-y: auto;
}
section.data-container {
  height: 92vh;
  overflow-y: auto;
}
.chart-container {
  position: relative;
  height: 50vh;
  width: 100%;
}
.data-view {
  word-wrap: break-word;
}
div.btn-group {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
div.btn-group button.btn {
  flex: 0 0 auto;
}
div.action-btn {
  display: flex;
  justify-content: space-evenly;
}
button#download-button {
  margin: 0.5rem auto;
}
